{% load static %}
<!doctype html>
<html>
    <head>
        <title>
            Awesome title here
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="Navigation mb-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <h3 class="navbar-title">Online shop</h3>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cart' %}">Shopping Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'adminPanel' %}">Add item</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'search_view' %}">
                        <input id="user-input" class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                        <button id="search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                </div>
            </nav>
        </div>
        <div class="container">
            {% block content %}
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4">
                    <div class="card bg-light" style="width: 25rem;">
                        <div>
                            <h5>{{ product.productName }}</h5>
                            <h4 style="display: inline-block; ">{{product.productPrice}}€</h4>
                            <p>Click View for more info</p>
                            <a class="btn btn-outline-success" href="{% url 'item' product %}">View</a>                  
                        </div>
                    </div>>
                </div>
                {% endfor %}
            </div>
            {% endblock content %} 
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
    </body>
</html>

