{% extends 'ShopTemplates/index.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div>
            <card>
            <form method="POST" action="{% url 'item' item %}" id="form">
                {% csrf_token %}
                
                <div class="card bg-light" style="width: 25rem;">
                    <div>
                        <h5 id="item_id">{{ item.productId }}</h5>                      
                    </div>
                    <div>
                        <h5 id="item_name">{{ item.productName }}</h5>
                    </div>
                    <div>
                        <h4 id="item-price" style="display: inline-block; ">{{item.productPrice}}€</h4>
                    </div>
                    <div>
                        <p id="item_description">{{ item.app_productdesc }}</p>
                    </div> 
                    <input type="submit" class="btn btn-outline-success" value="Add to shopping cart" />
                    <a class="btn btn-outline-success" href="/">Back to store</a>                  
                </div>
            
            </form>
            </card>
        </div>
    </div>
    
</div>

{% endblock content %}