{% extends 'ShopTemplates/index.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div>
            <card>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="card bg-light" style="width: 25rem;">
                    <div>
                        <h5>{{ item.productName }}</h5>
                        <h4 style="display: inline-block; ">{{item.productPrice}}€</h4>
                        <p class="item-description">{{ item.app_productdesc }}</p>
                    </div>
                           
                <a class="btn btn-outline-success" href="{% url 'add_to_cart' item.productId %}">Add to cart</a>
                </div>
            </form>
            </card>
        </div>
    </div>
    
</div>

{% endblock content %}